/converorAPI/converor.api/.vs/ 
/converorAPI/converor.api/bin/ 
/converorAPI/converor.api/obj/ 
/converorAPI/converor.Core/obj/ 
/converorAPI/converor.Core/bin/ 
/converorAPI/converor.EF/bin/ 
/converorAPI/converor.EF/obj/ 
